#card-definition{  /* Used to show initial card definition */
  display: none;
}
#card-defintion-two{
  display:none
}
.toggleOne {
  cursor: pointer;
  color: #0088cc;
}
.toggleOne:hover {
  text-decoration: underline;
}
.toggleTwo {
  cursor: pointer;
  color: purple;
}
.toggleTwo:hover {
  text-decoration: underline;
}

